[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=moveAndGetPublicURL;copyAndGetPublicURL;_SEPARATOR_;generatePublicURL;sendPublicURLmail;sendPublicURLgmail;
X-KDE-Submenu=Dropbox
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel

[Desktop Action moveAndGetPublicURL]
Name=Move to Public folder and paste URL to Klipper
Name[pl]=Przenieś do folderu publicznego i wklej adres URL do schowka
Name[cs]=Přesunout do veřejné složky a vložit adresu (URL) do schránky
Name[tr]=Public dizinine taşı ve internet adresini Klipper'a kopyala
Name[ru]=Переместить в публичный каталог и скопировать URL в буфер
Name[de]=In den öffentlichen Ordner verschieben und URL in Klipper einfügen
Name[lt]=Perkelti į aplanką „Public“ ir kopijuoti viešąjį URL į Klipper
Name[es]=Mover a carpeta pública y pegar la dirección (URL) en Klipper
Name[it]=Sposta nella Cartella Pubblica e incolla l'indirizzo (URL) in Klipper
Name[fr]=Déplacer vers le répertoire public et coller l'URL dans Klipper
Name[da]=Flyt til Public mappe and indsæt URL i Klipper
Name[pt]=Mover para a pasta Public e copiar URL para o Klipper
Name[zh_TW]=移到 Public 資料夾並貼上 URL 到 Klipper 剪貼簿
Name[hu]=Áthelyezés a Publikus könyvtárba és másold be az URL-t a Vágólapra(Klipper)
Name[nl]=Verplaatsen naar Publieke map, en URL kopiëren naar Klipper
Exec=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh move
Exec[de]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh move "%f" de
Exec[pl]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh move "%f" pl
Exec[cs]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh move "%f" cs
Exec[tr]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh move "%f" tr
Exec[ru]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh move "%f" ru
Exec[lt]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh move "%f" lt
Exec[es]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh move "%f" es
Exec[it]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh move "%f" it
Exec[fr]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh move "%f" fr
Exec[da]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh move "%f" da
Exec[pt]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh move "%f" pt
Exec[zh_TW]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh move "%f" zh_TW
Exec[hu]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh move "%f" hu
Exec[nl]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh move "%f" nl
Icon=go-jump

[Desktop Action copyAndGetPublicURL]
Name=Copy to Public folder and paste URL to Klipper
Name[pl]=Skopiuj do folderu publicznego i wklej adres URL do schowka
Name[cs]=Kopírovat do veřejné složky a vložit adresu (URL) do schránky
Name[tr]=Public dizinine kopyala ve internet adresini Klipper'a kopyala
Name[ru]=Копировать в публичный каталог и скопировать URL в буфер
Name[de]=In den öffentlichen Ordner kopieren und URL in Klipper einfügen
Name[lt]=Kopijuoti į aplanką „Public“ ir kopijuoti viešąjį URL į Klipper
Name[es]=Copiar a carpeta pública y pegar la dirección (URL) en Klipper
Name[it]=Copia nella Cartella Pubblica e incolla l'indirizzo (URL) in Klipper
Name[fr]=Copier dans le répertoire public et coller l'URL dans Klipper
Name[da]=Kopier til Public mappe and indsæt URL i Klipper
Name[pt]=Copiar para a pasta Public e copiar URL para o Klipper
Name[zh_TW]=複製到 Public 資料夾並貼上 URL 到 Klipper 剪貼簿
Name[hu]=Másold a Publikus könyvtárba és másold be az URL-t a Vágólapra(Klipper)
Name[nl]=Kopiëren naar Publieke map, en URL kopiëren naar Klipper
Exec=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh copy
Exec[de]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh copy "%f" de
Exec[pl]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh copy "%f" pl
Exec[cs]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh copy "%f" cs
Exec[tr]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh copy "%f" tr
Exec[ru]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh copy "%f" ru
Exec[lt]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh copy "%f" lt
Exec[es]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh copy "%f" es
Exec[it]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh copy "%f" it
Exec[fr]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh copy "%f" fr
Exec[da]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh copy "%f" da
Exec[pt]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh copy "%f" pt
Exec[zh_TW]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh copy "%f" zh_TW
Exec[hu]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh copy "%f" hu
Exec[nl]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh copy "%f" nl
Icon=edit-copy

[Desktop Action generatePublicURL]
Name=Generate public URL...
Name[pl]=Wygeneruj publiczny adres URL...
Name[cs]=Vytvořit veřejnou adresu (URL)...
# Name[tr]=
Name[ru]=Сгенерировать общедоступный URL...
Name[de]=Öffentliche URL generieren
Name[lt]=Generuoti viešąjį URL...
Name[es]=Generar una dirección publica...
Name[it]=Genera un URL pubblico...
Name[fr]=Générer l'URL publique...
Name[da]= Generér offentlig URL...
# Name[pt]=
Name[zh_TW]=產生公開的 URL...
# Name[hu]=
Name[nl]=Publieke URL genereren
Exec=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh klipperurl
Exec[de]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh klipperurl "%f" de
Exec[pl]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh klipperurl "%f" pl
Exec[cs]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh klipperurl "%f" cs
Exec[tr]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh klipperurl "%f" tr
Exec[ru]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh klipperurl "%f" ru
Exec[lt]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh klipperurl "%f" lt
Exec[es]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh klipperurl "%f" es
Exec[it]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh klipperurl "%f" it
Exec[fr]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh klipperurl "%f" fr
Exec[da]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh klipperurl "%f" da
Exec[pt]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh klipperurl "%f" pt
Exec[zh_TW]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh klipperurl "%f" zh_TW
Exec[hu]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh klipperurl "%f" hu
Exec[nl]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh klipperurl "%f" nl
Icon=download

[Desktop Action sendPublicURLmail]
Name=Send Public URL via email
Name[pl]=Wyślij publiczny adres URL za pomocą emaila
# Needs new translation
Name[cs]=Poslat veřejnou adresu (URL) prostřednictvím elektronické pošty
# Name[tr]=Public'teki dosyanın adresini KMail ile gönder
Name[ru]=Отправить URL по почте
Name[de]=Sende öffentliche URL per EMail
Name[lt]=Siųsti viešąjį URL e. paštu
Name[es]=Enviar dirección pública (URL) vía Email
Name[it]=Invia l'indirizzo pubblico (URL) via eMail
Name[fr]=Envoyer l'URL publique via KMail
Name[da]= Send offentligt URL via emaila
# Name[pt]=Enviar URL publico via Kmail
Name[zh_TW]=由 email 發送公開的 URL
Name[hu]=Publikus URL küldése emaillel
Name[nl]=Publieke URL verzenden via e-mail
Exec=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh mailurl
Exec[de]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh mailurl "%f" de
Exec[pl]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh mailurl "%f" pl
Exec[cs]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh mailurl "%f" cs
Exec[tr]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh mailurl "%f" tr
Exec[ru]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh mailurl "%f" ru
Exec[lt]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh mailurl "%f" lt
Exec[es]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh mailurl "%f" es
Exec[it]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh mailurl "%f" it
Exec[fr]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh mailurl "%f" fr
Exec[da]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh mailurl "%f" da
Exec[pt]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh mailurl "%f" pt
Exec[zh_TW]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh mailurl "%f" zh_TW
Exec[hu]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh mailurl "%f" hu
Exec[nl]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh mailurl "%f" nl
Icon=mail-send

[Desktop Action sendPublicURLgmail]
Name=Send Public URL via GMail
Name[pl]=Wyślij publiczny adres URL za pomocą GMaila
Name[cs]=Poslat veřejnou adresu (URL) prostřednictvím GMailu
Name[tr]=Public'teki dosyanın adresini GMail ile gönder
Name[ru]=Отправить URL через gmail
Name[de]=Sende öffentliche URL mit GMail
Name[lt]=Siųsti viešąjį URL per GMail
Name[es]=Enviar dirección pública (URL) vía Gmail
Name[it]=Invia l'indirizzo pubblico (URL) via Gmail
Name[fr]=Envoyer l'URL public via GMail
Name[da]= Send offentligt URL via GMail
Name[pt]=Enviar URL publico via GMail
Name[zh_TW]=由 GMail 發送公開的 URL
Name[hu]=Publikus URL küldése GMail-lel...
Name[nl]=Publieke URL via GMail verzenden
Exec=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh gmailurl
Exec[de]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh gmailurl "%f" de
Exec[pl]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh gmailurl "%f" pl
Exec[cs]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh gmailurl "%f" cs
Exec[tr]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh gmailurl "%f" tr
Exec[ru]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh gmailurl "%f" ru
Exec[lt]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh gmailurl "%f" lt
Exec[es]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh gmailurl "%f" es
Exec[it]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh gmailurl "%f" it
Exec[fr]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh gmailurl "%f" fr
Exec[da]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh gmailurl "%f" da
Exec[pt]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh gmailurl "%f" pt
Exec[zh_TW]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh gmailurl "%f" zh_TW
Exec[hu]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh gmailurl "%f" hu
Exec[nl]=`kde4-config --localprefix`/share/kde4/services/ServiceMenus/dropbox-scripts/dropbox_menu.sh gmailurl "%f" nl
Icon=mail-send