[Desktop Entry]
Encoding=UTF-8
Name=Bumblebee Plasmoid
Comment=See if Discrete card is on
Type=Service
Icon=/contents/bumblebee.png
ServiceTypes=Plasma/Applet
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
 
X-KDE-PluginInfo-Author=dfmeyer
X-KDE-PluginInfo-Email=me3064@gmail.com
X-KDE-PluginInfo-Name=Bumblebee_Status
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://www.croesus.co.za
X-KDE-PluginInfo-License=GPL