Name = Anonymous-Design
Description = A Splash theme for all Anons out there. Change the background.xcf if the "Anon-Guy" is too fat or too thin on your screen.
Version = 1.0
Author = Tim T.
Homepage = 
Engine = KSplashX
