[Desktop Entry]
Name=glowglass-cupertino
Comment=An theme based on glowglass and cupertino aurorae theme

X-KDE-PluginInfo-Author=strahlex
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=glowglass-cupertino
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V3
X-KDE-PluginInfo-EnabledByDefault=true
