[Desktop Entry]
Name=Netscape plugin viewer
Type=Service
Icon=netscape
Comment=Netscape plugin viewer
X-KDE-Library=libnsplugin
InitialPreference=0
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-BrowserView-PluginsInfo=nsplugins/pluginsinfo
MimeType=application/x-shockwave-flash;application/futuresplash;application/x-gnome-shell-integration;application/x-java-vm;application/x-java-applet;jpi-version=1.6.0_50;application/x-java-bean;application/x-java-vm-npruntime;application/itunes-plugin;application/x-vlc-plugin;application/vlc;video/x-google-vlc-plugin;application/x-ogg;application/ogg;audio/ogg;audio/x-ogg;video/ogg;video/x-ogg;application/annodex;audio/annodex;video/annodex;video/mpeg;audio/wav;audio/x-wav;audio/mpeg;application/x-nsv-vp3-mp3;video/flv;video/webm;application/x-totem-plugin;audio/midi;application/x-mplayer2;video/x-ms-asf-plugin;video/x-msvideo;video/x-ms-asf;video/x-ms-wmv;video/x-wmv;video/x-ms-wvx;video/x-ms-wm;video/x-ms-wmp;application/x-ms-wms;application/x-ms-wmp;application/asx;audio/x-ms-wma;video/divx;video/quicktime;video/mp4;image/x-macpaint;image/x-quicktime;video/x-m4v;application/x-skype;
