[Desktop Entry]
Comment=A simple aquarium based on the boids algorithm from Craig Reynolds
Encoding=UTF-8
Icon=/home/andres/.kde/share/apps/plasma/plasmoids//aquarium/contents/images/fish1.svg
Name=Aquarium
Type=Service
X-KDE-PluginInfo-Author=Ontje Lünsdorf
X-KDE-PluginInfo-Email=The_COM@gmx.de
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=aquarium
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://bitbucket.org/luensdorf/aquarium/
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=javascript
X-Plasma-DefaultSize=200,200
X-Plasma-MainScript=code/main.js
