[Desktop Entry]
Comment=Displays position of planets in Solar system. Icon credit: NASA/JPL.
Comment[cs]=Zobrazení pozice planet v Slunečním systému. Zdroj ikony: NASA/JPL.
Comment[de]=Zeigt die Position der Planeten im Sonnensystem. Die Quelle von Ikone: NASA/JPL.
Comment[el]=Εμφανίζει τη θέση των πλανητών στο ηλιακό οσύστημα. Εικόνα: NASA/JPL.
Comment[es]=Muestra la posición de los planetes en el sistema solar. Icono: NASA/JPL.
Comment[fr]=Affiche la position des planètes au système solaire. Image: NASA/JPL.
Comment[it]=Mostra la posizione dei pianeti del Sistema solare. Icone: NASA/JPL.
Comment[ru]=Показывает положение планет в Солнечной системе. Источник значка: NASA/JPL.
Comment[sk]=Zobrazenie pozície planét v Slnečnom systéme. Zdroj ikony: NASA/JPL.
Encoding=UTF-8
Icon=/home/andres/.kde/share/apps/plasma/plasmoids//solar-system/solar-system.png
Name=Solar system
Name[cs]=Sluneční systém
Name[de]=Sonnensystem
Name[el]=Ηλιακό σύστημα
Name[en]=Solar system
Name[es]=Sistema solar
Name[fr]=Système solaire
Name[it]=Sistema solare
Name[ru]=Солнечная система
Name[sk]=Slnečný systém
Type=Service
X-KDE-PluginInfo-Author=John Ramen
X-KDE-PluginInfo-Category=Astronomy
X-KDE-PluginInfo-Depends=Python-kde4, plasma-scriptengine-python
X-KDE-PluginInfo-Email=johnramen@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=solar-system
X-KDE-PluginInfo-Version=0.4.1
X-KDE-PluginInfo-Website=http://kde-look.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=python
X-Plasma-DefaultSize=420,420
X-Plasma-MainScript=code/main.py
