[Desktop Entry]
Comment=It's up to you to rescue the world!
Comment[de]=Es liegt an dir, die Welt zu retten!
Comment[es]=Es tu oportunidad de salvar el mundo!
Encoding=UTF-8
Icon=/home/andres/.kde/share/apps/plasma/plasmoids//matrix/./icons/matrix_64x64.png
Name=Matrix
Name[de]=Matrix
Name[es]=Matrix
ServiceTypes=Plasma/Applet
Type=Service
X-KDE-PluginInfo-Author=Gerhard A. Dittes
X-KDE-PluginInfo-Category=Fun and Games
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=g-a-d@web.de
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=matrix
X-KDE-PluginInfo-Version=0.6
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-Plasma-API=javascript
X-Plasma-DefaultSize=307,220
X-Plasma-MainScript=code/main.js
