[Desktop Entry]
Comment=PhD Comics
Comment[et]=PhD koomiks
Comment[fi]=PhD-sarjakuvat
Comment[gl]=Cómics PhD
Comment[ko]=PhD 코믹스
Comment[lv]=PhD komiksi
Comment[nds]=PhD-Comics
Comment[nl]=PhD-strips
Comment[nn]=PhD-teikneserie
Comment[pt]=Banda Desenhada PhD
Comment[ro]=Benzi desenate PhD
Comment[sr@latin]=„Postdiplomci“ u stripu
Comment[sr]=„Постдипломци“ у стрипу
Comment[tr]=Doktora Karikatürleri
Comment[x-test]=xxPhD Comicsxx
Comment[zh_CN]=PhD 连环画
Comment[zh_TW]=PhD 漫畫
Icon=/home/andres/.kde/share/apps/plasma/comics//phd/icon.png
Name=PhD Comics
Name[et]=PhD koomiks
Name[fi]=PhD-sarjakuvat
Name[gl]=Cómics PhD
Name[ko]=PhD 코믹스
Name[lv]=PhD komiksi
Name[nds]=PhD-Comics
Name[nl]=PhD-strips
Name[nn]=PhD-teikneserie
Name[pt]=Banda Desenhada PhD
Name[ro]=Benzi desenate PhD
Name[sr@latin]=Postdiplomci
Name[sr]=Постдипломци
Name[x-test]=xxPhD Comicsxx
Name[zh_CN]=PhD 连环画
Name[zh_TW]=PhD 漫畫
Type=Service
X-KDE-Library=plasma_comic_krossprovider
X-KDE-PlasmaComicProvider-SuffixType=Number
X-KDE-PluginInfo-Author=Stefan Majewsky
X-KDE-PluginInfo-Email=majewsky@gmx.net
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-Name=phd
X-KDE-PluginInfo-Version=1.0
X-KDE-ServiceTypes=Plasma/Comic
