[Desktop Entry]
Comment=See if Discrete card is on
Encoding=UTF-8
Icon=/home/andres/.kde/share/apps/plasma/plasmoids//Bumblebee_Status//contents/bumblebee.png
Name=Bumblebee Plasmoid
ServiceTypes=Plasma/Applet
Type=Service
X-KDE-PluginInfo-Author=dfmeyer
X-KDE-PluginInfo-Email=me3064@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=Bumblebee_Status
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://www.croesus.co.za
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
