[Desktop Entry]
Name=Ctrl+Alt+Del
Name[km]=បញ្ជា(Ctrl)+ជំនួស(Alt)+លុប(Del)
Name[nds]=Strg+Alt+Entf
Name[x-test]=xxCtrl+Alt+Delxx
Comment=Ctrl+Alt+Del
Comment[km]=បញ្ជា(Ctrl)+ជំនួស(Alt)+លុប(Del)
Comment[nds]=Strg+Alt+Entf
Comment[x-test]=xxCtrl+Alt+Delxx
Type=Service
X-KDE-ServiceTypes=Plasma/Comic
Icon=icon.png

X-KDE-Library=plasma_comic_krossprovider
X-KDE-PluginInfo-Author=Matthias Fuchs
X-KDE-PluginInfo-Email=mat69@gmx.net
X-KDE-PluginInfo-Name=ctrlaltdel
X-KDE-PluginInfo-Version=1.5
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PlasmaComicProvider-SuffixType=Date
