[Desktop Entry]
Name=Calvin and Hobbes
Name[es]=Calvin y Hobbes
Name[gl]=Calvin e Hobbes
Name[km]=Calvin និង Hobbes
Name[nds]=Calvin un Hobbes
Name[pt]=Calvin e Hobbes
Name[pt_BR]=Calvin e Haroldo
Name[sv]=Kalle och Hobbe
Name[tr]=Calvin ve Hobbes
Name[x-test]=xxCalvin and Hobbesxx
Name[zh_CN]=Calvin 和 Hobbes
Comment=Calvin and Hobbes
Comment[es]=Calvin y Hobbes
Comment[gl]=Calvin e Hobbes
Comment[km]=Calvin និង Hobbes
Comment[nds]=Calvin un Hobbes
Comment[pt]=Calvin e Hobbes
Comment[pt_BR]=Calvin e Haroldo
Comment[sv]=Kalle och Hobbe
Comment[tr]=Calvin ve Hobbes
Comment[x-test]=xxCalvin and Hobbesxx
Comment[zh_CN]=Calvin 和 Hobbes
Type=Service
X-KDE-ServiceTypes=Plasma/Comic
Icon=icon.png

X-KDE-Library=plasma_comic_krossprovider
X-KDE-PluginInfo-Author=Matthias Fuchs
X-KDE-PluginInfo-Email=mat69@gmx.net
X-KDE-PluginInfo-Name=calvinandhobbes
X-KDE-PluginInfo-Version=1.4
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PlasmaComicProvider-SuffixType=Date
