[Desktop Entry]
Icon=image-png
Name=1E64_notepad.0.png
Type=Link
URL[$e]=file://$HOME/dotfiles/kde/share/icons/Iceglass%204.0/32x32/apps/1E64_notepad.0.png
X-KDE-LastOpenedWith=gpicview
