[Desktop Entry]
Icon=image-jpeg
Name=2013-08-20_21-28-15.jpg
Type=Link
URL[$e]=file:///Respaldo/Pictures/iphoneAndres/2013-08-20_21-28-15.jpg
X-KDE-LastOpenedWith=gpicview
