[Desktop Entry]
Icon=image-jpeg
Name=2014-01-02_17-40-58.jpg
Type=Link
URL[$e]=file:///Respaldo/Pictures/Wien2014/2014-01-02_17-40-58.jpg
X-KDE-LastOpenedWith=gpicview
