[Desktop Entry]
Icon=image-png
Name=chrome-https___support.google.com_chrome_answer_95710_hl=en.png
Type=Link
URL[$e]=file://$HOME/dotfiles/kde/share/icons/hicolor/16x16/apps/chrome-https___support.google.com_chrome_answer_95710_hl=en.png
X-KDE-LastOpenedWith=gpicview
