[Desktop Entry]
Icon=image-jpeg
Name=IMG_0304.jpg
Type=Link
URL[$e]=file:///Respaldo/Pictures/Bariloche%202010/IMG_0304.jpg
X-KDE-LastOpenedWith=kdialog
