[Desktop Entry]
Icon=application-x-cd-image
Name=Microsoft Visual Studio 2010 Ultimate.iso
Type=Link
URL[$e]=file:///Respaldo/Downloads/Microsoft%20Visual%20Studio%202010%20Ultimate/Microsoft%20Visual%20Studio%202010%20Ultimate.iso
X-KDE-LastOpenedWith=kfilemodule
