[Desktop Entry]
Icon=image-png
Name=process-idle-kde.png
Type=Link
URL[$e]=file://$HOME/dotfiles/kde/share/icons/Iceglass%204.0/32x32/animations/process-idle-kde.png
X-KDE-LastOpenedWith=gpicview
