[Desktop Entry]
Icon=inode-directory
Name=ute3d
Type=Link
URL[$e]=file:///Respaldo/Extend3d/projects/ubitrack/modules/ute3d
X-KDE-LastOpenedWith=dolphin
