[Desktop Entry]
Encoding=UTF-8
Name=SOHO Explorer
Comment=Real time images from the Solar and Heliospheric Observatory (SOHO).
Type=Service
ServiceTypes=Plasma/Applet
Icon=icons/icon.png
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=eightmillion
X-KDE-PluginInfo-Email=eightmillion@gmail.com
X-KDE-PluginInfo-Name=sohoexplorer
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Astronomy
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
