[Desktop Entry]
Encoding=UTF-8
Name=Veromix
Name[sr]=Веромикс
Comment=Veromix is a mixer for the Pulseaudio sound server.
Comment[sr]=Миксетаз за звучни сервер Пулсаудио.
Comment[sr@latin]=Mikseta za zvučni server Pulseaudio.
Type=Service
ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Icon=veromix-plasmoid
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Nik Lutz
X-KDE-PluginInfo-Email=nik.lutz@gmail.com
X-KDE-PluginInfo-Name=veromix-plasmoid
X-KDE-PluginInfo-Version=0.18.3
X-KDE-PluginInfo-Website=http://code.google.com/p/veromix-plasmoid/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true
